<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Server=(localdb)\mssqllocaldb;Database=VirtuelleBörsenplattform;Trusted_Connection=True;TrustServerCertificate=True;MultipleActiveResultSets=true;Application Name=VirtuelleBörsenplattform"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="TwelveDataApiKey" value="cb617aba18ea46b3a974d878d3c7310b" />
		<add key="InitialBalance" value="10000.00" />
		<add key="MarketDataUpdateInterval" value="120" />
	</appSettings>
</configuration>